<div class="auth-container">

  <h2>Iniciar Sesión</h2>

  @if (errorMensaje) {
    <p class="error">{{ errorMensaje }}</p>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Usuario -->
    <label for="username">Usuario:</label>

    <input id="username" pInputText type="text" formControlName="username" />

    @if (
      form.get('username')?.touched &&
      form.get('username')?.hasError('required')
    ) {
      <small class="error-text">
        El usuario es obligatorio.
      </small>
    }


    <!-- Contraseña -->
    <label for="password">Contraseña:</label>

    <p-password inputId="password" formControlName="password" [feedback]="false" [toggleMask]="true" placeholder="Contraseña"/>

    @if (
      form.get('password')?.touched &&
      form.get('password')?.hasError('required')
    ) {
      <small class="error-text">
        La contraseña es obligatoria.
      </small>
    }


    <!-- Botón -->
    <p-button type="submit" label="Ingresar" icon="pi pi-sign-in" [disabled]="form.invalid"/>

  </form>

  <p>
    ¿No tienes cuenta?
    <a routerLink="/registro">Regístrate aquí</a>
  </p>

</div>