<a class="volver" routerLink="/menu">
    ← Menú principal
</a>


<h2>Ingresantes</h2>

<a class="nuevo" routerLink="/ingreso/crear">
  Nuevo Ingresante
</a>


<div class="card" *ngFor="let ingresante of ingresantes$ | async">

    <div class="dato">
        <strong>ID:</strong>
        <span>{{ ingresante.id }}</span>
    </div>

    <div class="dato">
        <strong>Nombre:</strong>
        <span>{{ ingresante.nombre }}</span>
    </div>

    <div class="dato">
        <strong>Apellido:</strong>
        <span>{{ ingresante.apellido }}</span>
    </div>

    <div class="dato">
        <strong>Tipo de documento:</strong>
        <span>{{ ingresante.tipoDocumento }}</span>
    </div>

    <div class="dato">
        <strong>Número de documento:</strong>
        <span>{{ ingresante.numeroDocumento }}</span>
    </div>

    <div class="dato">
        <strong>Edad:</strong>
        <span>{{ ingresante.edad }}</span>
    </div>

    <div class="dato">
        <strong>Email:</strong>
        <span>{{ ingresante.email }}</span>
    </div>


    <div class="acciones">

		<button [routerLink]="['/ingreso/editar', ingresante.id]" class="editar">
		    Editar
		</button>
		
        <button (click)="borrar(ingresante.id)" class="borrar">
            Borrar
        </button>

    </div>

</div>


