<a class="volver" routerLink="/menu">
    <i class="pi pi-arrow-left"></i>
    Menú principal
</a>

<h2>Inscripción a Materia</h2>


<p-card header="Nueva inscripción">

    <form [formGroup]="inscripcionForm" (ngSubmit)="guardar()">

        <!-- INSCRIPCIÓN A CARRERA -->

        <div class="campo">

            <label for="inscripcionCarrera">
                Inscripción a carrera
            </label>

            <p-select
                id="inscripcionCarrera"
                formControlName="inscripcionCarreraId"
                [options]="inscripcionesCarreras"
                optionValue="id"
                placeholder="Seleccione una inscripción"
                styleClass="w-full">

                <ng-template #item let-insc>

                    {{ insc.nombreIngresante }}
                    {{ insc.apellidoIngresante }}
                    -
                    {{ insc.nombreCarrera }}

                </ng-template>

                <ng-template #selectedItem let-insc>

                    @if (insc) {

                        {{ insc.nombreIngresante }}
                        {{ insc.apellidoIngresante }}
                        -
                        {{ insc.nombreCarrera }}

                    }

                </ng-template>

            </p-select>

        </div>


        <!-- MATERIA -->

        <div class="campo">

            <label for="materia">
                Materia
            </label>

            <p-select
                id="materia"
                formControlName="materiaId"
                [options]="materiasFiltradas"
                optionLabel="nombre"
                optionValue="id"
                placeholder="Seleccione una materia"
                styleClass="w-full">

                <ng-template #item let-mat>

                    {{ mat.nombre }}
                    ({{ mat.anio }}° año -
                    {{ mat.cuatrimestre }}° cuatrimestre)

                </ng-template>

                <ng-template #selectedItem let-mat>

                    @if (mat) {

                        {{ mat.nombre }}
                        ({{ mat.anio }}° año -
                        {{ mat.cuatrimestre }}° cuatrimestre)

                    }

                </ng-template>

            </p-select>


            @if (
                inscripcionForm.value.inscripcionCarreraId &&
                materiasFiltradas.length === 0
            ) {

                <p-message severity="info">

                    No hay materias disponibles de primer año para esta carrera.

                </p-message>

            }

        </div>


        <!-- FECHA -->

        <div class="campo">

            <label for="fecha">
                Fecha de inscripción
            </label>

            <input
                pInputText
                type="date"
                id="fecha"
                formControlName="fechaInscripcion"
            />

        </div>


        <div class="acciones">

            <p-button
                type="submit"
                label="Inscribir"
                icon="pi pi-check"
                [disabled]="inscripcionForm.invalid">
            </p-button>

        </div>

    </form>

</p-card>


<hr>


<h3>Inscripciones a Materias Registradas</h3>


<p-table
    [value]="inscripciones"
    stripedRows
    [tableStyle]="{ 'min-width': '40rem' }">

    <ng-template #header>

        <tr>
            <th>Fecha</th>
            <th>Materia</th>
        </tr>

    </ng-template>


    <ng-template #body let-insc>

        <tr>

            <td>{{ insc.fechaInscripcion }}</td>

            <td>{{ insc.nombreMateria }}</td>

        </tr>

    </ng-template>


    <ng-template #emptymessage>

        <tr>

            <td colspan="3">
                No hay inscripciones registradas.
            </td>

        </tr>

    </ng-template>

</p-table>
