<a routerLink="/menu">
  ← Menú principal
</a>

<h2>Materias</h2>

@if (carreraId !== null) {
  <p-button label="Volver a carreras" icon="pi pi-arrow-left" routerLink="/carreras" severity="secondary"> </p-button>
}

<br><br>

@if (rol === 'ADMIN') {
  <p-button label="Nueva materia" icon="pi pi-plus" routerLink="/materias/crear"> </p-button>
}

<br><br>

<p-table [value]="(materias$ | async) ?? []" stripedRows>

  <ng-template #header>

    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Año</th>
      <th>Cuatrimestre</th>

      @if (carreraId === null) {
        <th>Carrera</th>
      }

      @if (rol === 'ADMIN') {
        <th>Acciones</th>
      }

    </tr>

  </ng-template>


  <ng-template #body let-materia>

    <tr>

      <td>
        {{ materia.id }}
      </td>

      <td>
        {{ materia.nombre }}
      </td>

      <td>
        {{ materia.anio }}
      </td>

      <td>
        {{ materia.cuatrimestre }}
      </td>


      @if (carreraId === null) {
        <td>
          {{ materia.nombreCarrera }}
        </td>
      }


      @if (rol === 'ADMIN') {
        <td>
          <p-button  label="Editar" icon="pi pi-pencil" [routerLink]="['/materias/editar', materia.id]"> </p-button>

          <p-button label="Borrar" icon="pi pi-trash" severity="danger" (click)="borrar(materia.id)"> </p-button>
        </td>
      }

    </tr>

  </ng-template>

</p-table>