<a class="volver" routerLink="/menu">
    <i class="pi pi-arrow-left"></i>
    Menú principal
</a>

<h2>Inscripción a Carrera</h2>

<p-card header="Nueva inscripción">

    <form [formGroup]="inscripcionForm" (ngSubmit)="guardar()">

        <div class="campo">

            <label for="carrera">
                Carrera
            </label>

            <p-select
                id="carrera"
                formControlName="carreraId"
                [options]="carreras"
                optionLabel="nombre"
                optionValue="id"
                placeholder="Seleccione una carrera"
                styleClass="w-full">
            </p-select>

        </div>


        <div class="campo">

            <label for="fecha">
                Fecha de inscripción
            </label>

            <input
                pInputText
                type="date"
                id="fecha"
                formControlName="fechaInscripcion"
            />

        </div>


        <div class="acciones">

            <p-button
                type="submit"
                label="Inscribir"
                icon="pi pi-check"
                [disabled]="inscripcionForm.invalid">
            </p-button>

        </div>

    </form>

</p-card>


<h3>

    @if (rol === 'ADMIN') {
        Todas las inscripciones
    } @else {
        Mis inscripciones
    }

</h3>


<p-table
    [value]="inscripciones"
    stripedRows
    [tableStyle]="{ 'min-width': '40rem' }">

    <ng-template #header>

        <tr>

            <th>Fecha</th>

            @if (rol === 'ADMIN') {
                <th>Ingresante</th>
            }

            <th>Carrera</th>

        </tr>

    </ng-template>


    <ng-template #body let-insc>

        <tr>


            <td>{{ insc.fechaInscripcion }}</td>

            @if (rol === 'ADMIN') {

                <td>
                    {{ insc.nombreIngresante }}
                    {{ insc.apellidoIngresante }}
                </td>

            }

            <td>{{ insc.nombreCarrera }}</td>

        </tr>

    </ng-template>


    <ng-template #emptymessage>

        <tr>

            <td colspan="4">
                No hay inscripciones registradas.
            </td>

        </tr>

    </ng-template>

</p-table>