<a class="volver" routerLink="/menu">
  <i class="pi pi-arrow-left"></i>
  Menú principal
</a>

@if (mensajeTexto) {
  <div class="alerta" [ngClass]="mensajeTipo">
    <span>{{ mensajeTexto }}</span>
  </div>
}


@if (rol === 'ADMIN'){
<!-- Buscar inscripción a materia -->
<p-card header="Buscar Inscripción" subheader="Ingrese el ID de la inscripción a materia">

  <div class="flex gap-2 align-items-end">

    <div class="flex flex-column gap-2">
      <label for="idInscripcionBusqueda" class="font-bold">
        ID Inscripción
      </label>

      <p-inputNumber
        id="idInscripcionBusqueda"
        [(ngModel)]="idInscripcionMateriaBusqueda"
        placeholder="Ej: 101"
        [useGrouping]="false">
      </p-inputNumber>
    </div>

    <p-button
      label="Buscar"
      icon="pi pi-search"
      (onClick)="buscarInscripcion()">
    </p-button>

  </div>

  @if (inscripcionEncontrada) {
    <div class="mt-4">

      <p class="mb-2">
        <strong>ID Inscripción:</strong>
        {{ inscripcionEncontrada.id }}
      </p>

      <p class="mb-2">
        <strong>Ingresante:</strong>
        {{ inscripcionEncontrada.nombreIngresante }}
        {{ inscripcionEncontrada.apellidoIngresante }}
      </p>

      <p class="mb-2">
        <strong>Materia:</strong>
        {{ inscripcionEncontrada.nombreMateria }}
      </p>

      <p class="mb-0">
        <strong>Fecha de inscripción:</strong>
        {{ inscripcionEncontrada.fechaInscripcion }}
      </p>

    </div>
  }

</p-card>


<!-- Formulario de Carga de Nota -->
<p-card header="Asignar Nota" subheader="Ingrese la nota de la inscripción encontrada">

<form [formGroup]="notaForm" (ngSubmit)="guardarNota()" class="grid p-fluid">

  <input type="hidden" formControlName="idInscripcion">

  <div class="col-12 md:col-10">

      <label for="nota" class="font-bold block mb-2">
        Nota (0 - 10)
      </label>

      <p-inputNumber
        id="nota"
        formControlName="nota"
        [min]="0"
        [max]="10"
        placeholder="Ej: 8">
      </p-inputNumber>

    </div>

    <div class="col-12 md:col-2 flex align-items-end">

      <p-button
        label="Guardar"
        icon="pi pi-check"
        type="submit"
        [disabled]="notaForm.invalid || !inscripcionEncontrada">
      </p-button>

    </div>

  </form>

</p-card>
}