<header class="encabezado">
    <h1>Sistema de Gestión de Inscripciones</h1>
    <p>Universidad Nacional</p>
</header>

<div class="menu">

  <div class="card">
    <h3>👤 Ingresantes</h3>
    <p>Gestión de los ingresantes del sistema.</p>

    <a class="boton" routerLink="/ingreso">
      Ver ingresantes
    </a>

    <a class="boton secundario" routerLink="/ingreso/crear">
      Registrar ingresante
    </a>
  </div>

  <div class="card">
    <h3>🎓 Carreras</h3>
    <p>Administración de las carreras disponibles.</p>

    <a class="boton" routerLink="/carrera">
      Ver carreras
    </a>
  </div>

  <div class="card">
    <h3>📚 Materias</h3>
    <p>Consulta y gestión de las materias.</p>

    <a class="boton" routerLink="/materias">
      Ver materias
    </a>
  </div>

  <div class="card">
    <h3>📝 Inscripciones</h3>
    <p>Realizar nuevas inscripciones.</p>

    <a class="boton" routerLink="/inscripcion/carrera">
      Inscribirse a una carrera
    </a>

    <a class="boton secundario" routerLink="/inscripcion/materia">
      Inscribirse a una materia
    </a>
  </div>

</div>